<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand mr-auto" href="#">Blockchain Polls</a>
  <!-- create Poll button -->
  <button type="button" class="btn btn-secondary" (click)="showForm = !showForm">Create Poll</button>
</nav>

<section class="jumpotron bg-light text-center">
  <h1>Polls Rethinked</h1>
  <p class="lead text-muted">Powered By Blockchain</p>
</section>

<!-- Poll create form view -->
<app-poll-create *ngIf="showForm"></app-poll-create>

<div class="d-flex">

  <!-- poll list with images renders here -->
  <div class="container poll-list">
    <!-- bind mock data which user will send from frontend into polls array in app.component.ts to the poll.component.html here -->
    <app-poll *ngFor="let poll of polls" [question]="poll.question" [voted]="poll.voted" [votes]="poll.votes" [pollImage]="poll.image"></app-poll>
  </div>

  <!-- poll details renders here -->
  <div class="container poll-detail">
    Detail
  </div>
</div>