<div class="card mb-4">
    <div class="poll-image">
        <img src="https://render.fineartamerica.com/images/rendered/search/acrylic-print/10/6.5/hangingwire/break/images/artworkimages/medium/1/5-cryptocurrency-hologram-and-circuit-board-allan-swart.jpg" alt="">
    </div>
    <div class="card-body">
        <p class="card-text text-truncate font-weight-bold">
            Do you see this list?
        </p>
        <div class="d-flex justify-content-between">
            <small class="text-muted">10 votes</small>
            <small class="text-muted">Voted</small>
        </div>
    </div>
</div>