<div class="card mb-4">
    <div class="poll-image">
        <!-- binding image url from the app-poll tag in app.component.html   -->
        <img [src]="pollImage" alt="">
    </div>
    <div class="card-body">
        <!-- binding users question from the app-poll tag in app.component.html   -->
        <p class="card-text text-truncate font-weight-bold">
           {{question}}
        </p>
        <div class="d-flex justify-content-between">
            <!-- binding number of votes to the votes array in ngOnInit in poll.component.ts -->
            <small class="text-muted">Votes: {{ numberOfVotes }}</small>

            <!-- binding vote state from the app-poll tag in app.component.html   -->
            <small *ngIf="voted" class="badge badge-success">Voted</small>
        </div>
    </div>
</div>
